$primary: #37A4E1;
$secondary: #BABABA;

$success-100: #a2f0bc;
$success-500: #12bd4b;

$pending-500: #177cbe;

$error-100: #f1acc9;
$error-500: #a10c4a;

$black-0: hsl(0, 0%, 0%);
$black-25: hsl(0, 0%, 5%);
$black-50: hsl(0, 0%, 10%);
$black-100: hsl(0, 0%, 12%);
$black-200: hsl(0, 0%, 30%);
$black-300: hsl(0, 0%, 34%);
$black-400: hsl(0, 0%, 43%);
$black-500: hsl(0, 0%, 47%);
$black-600: hsl(0, 0%, 58%);
$black-700: hsl(0, 0%, 69%);
$black-800: hsl(0, 0%, 80%);
$black-900: hsl(0, 0%, 87%);


$grey-50: hsl(265, 55%, 96%);
$grey-100: hsl(265, 19%, 88%);
$grey-200: hsl(265, 7%, 70%);
$grey-300: hsl(265, 6%, 66%);
$grey-400: hsl(265, 4%, 57%);
$grey-500: hsl(265, 3%, 53%);
$grey-600: hsl(265, 4%, 42%);
$grey-700: hsl(265, 4%, 31%);
$grey-800: #1E1E1E;
$grey-900: hsl(280, 5%, 13%);

$blue-0: #fafaff;
$blue-25: #f5f5ff;
$blue-30: #f0f0ff;
$blue-35: #ebebff;
$blue-40: #e6e6ff;
$blue-45: #e0e0ff;
$blue-50: #dbdbff;
$blue-55: #d6d6ff;
$blue-60: #d1d1ff;
$blue-65: #ccccff;
$blue-70: #c7c7ff;
$blue-75: #c2c2ff;
$blue-80: #bdbdff;
$blue-85: #b8b8ff;
$blue-90: #b3b3ff;
$blue-95: #adadff;
$blue-100: #a8a8ff;
$blue-105: #a3a3ff;
$blue-110: #9e9eff;
$blue-115: #9999ff;
$blue-120: #9494ff;
$blue-125: #8f8fff;
$blue-130: #8a8aff;
$blue-135: #8585ff;
$blue-140: #8080ff;
$blue-145: #7a7aff;
$blue-150: #7575ff;
$blue-155: #7070ff;
$blue-160: #6b6bff;
$blue-165: #6666ff;
$blue-170: #6161ff;
$blue-175: #5c5cff;
$blue-180: #5757ff;
$blue-185: #5252ff;
$blue-190: #4d4dff;
$blue-195: #4747ff;
$blue-200: #4242ff;
$blue-205: #3d3dff;
$blue-210: #3838ff;
$blue-215: #3333ff;
$blue-220: #2e2eff;
$blue-225: #2929ff;
$blue-230: #2424ff;
$blue-235: #1f1fff;
$blue-240: #1a1aff;
$blue-245: #1414ff;
$blue-250: #0f0fff;
$blue-255: #0a0aff;
$blue-260: #0505ff;
$blue-265: #0000ff;
$blue-270: #0000fa;
$blue-275: #0000f5;
$blue-280: #0000f0;
$blue-285: #0000eb;
$blue-290: #0000e6;
$blue-295: #0000e0;
$blue-300: #0000db;
$blue-305: #0000d6;
$blue-310: #0000d1;
$blue-315: #0000cc;
$blue-320: #0000c7;
$blue-325: #0000c2;
$blue-330: #0000bd;
$blue-335: #0000b8;
$blue-340: #0000b3;
$blue-345: #0000ad;
$blue-350: #0000a8;
$blue-355: #0000a3;
$blue-360: #00009e;
$blue-365: #000099;
$blue-370: #000094;
$blue-375: #00008f;
$blue-380: #00008a;
$blue-385: #000085;
$blue-390: #000080;
$blue-395: #00007a;
$blue-400: #000075;
$blue-405: #000070;
$blue-410: #00006b;
$blue-415: #000066;
$blue-420: #000061;
$blue-425: #00005c;
$blue-430: #000057;
$blue-435: #000052;
$blue-440: #00004d;
$blue-445: #000047;
$blue-450: #000042;
$blue-455: #00003d;
$blue-460: #000038;
$blue-465: #000033;
$blue-470: #00002e;
$blue-475: #000029;
$blue-480: #000024;
$blue-485: #00001f;
$blue-490: #00001a;
$blue-495: #000014;
