.container {
    width: 100%;
    height: 800px;
    display: flex;
}

.textContainer {
    padding: 2.5rem 0 1rem 0;
    width: 100%;
    z-index: 10;

}
.imageContainer {

}

.textContainer h1 {
    font-weight: var(--font-weight-bold);
    font-size: var(--size-24);
    margin: .5rem;
    letter-spacing: 4px;
    width: 96%;
}

.textContainer h3 {
    font-weight: var(--font-weight-regular);
    font-size: var(--text-paragraph);
    width: 75%;
    margin: 1.5rem .5rem .5rem .5rem;
}

.textContainer p {
    font-weight: var(--font-weight-regular);
    font-size: var(--text-paragraph-two);
    width: 70%;
    margin: 0 .5rem;
    letter-spacing: 1.5px;
}

.textBlue {
    color: var(--color-secondary-1)
}

.image {
    position: absolute;
    right: 100px;
    width: 800px;
    height: 800px;
    z-index: 1;
}
.image img {
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 100%;
}

.pBanner {
    margin-top: 2rem !important;
    font-weight: var(--font-weight-bold) !important;
}

@media screen and  (max-width: 1440px) {
    .container {
        height: 700px;
    }

    .textContainer {
        padding: 2.25rem .9rem .9rem 7rem;
        width: 70%;
    }

    .textContainer h1 {
        font-size: var(--size-18);
    }

    .textContainer h3 {
        font-size: var(--size-14);
        width: 60%;
    }

    .textContainer p {
        font-size: var(--size-11);
        width: 100%;
    }

    .image {
        top: 60px;
        right: 0;
        width: 700px;
        height: 700px;
    }
}

@media screen and  (max-width: 768px) {
    .container {
        height: 277px;
    }

    .textContainer {
        padding: 1.25rem .5rem .5rem 2rem;
        width: 50%;
    }

    .textContainer h1 {
        font-size: var(--size-8);
    }

    .textContainer h3 {
        font-size: var(--size-6);
        width: 65%;
    }

    .textContainer p {
        font-size: var(--size-5);
    }

    .image {
        top: 80px;
        right: 0;
        width: 386px;
        height: 363px;
    }

    .image img {
        object-fit: fill;
        object-position: top;
        width: 100%;
        height: 75%;
    }
}

@media screen and  (max-width: 425px) {
    .container {
        height: 200px;
    }

    .textContainer {
        padding: .2rem;
        width: 75%;
    }

    .textContainer h1 {
        font-size: var(--size-6);
    }

    .textContainer h3 {
        font-size: var(--size-4);
        width: 55%;
    }

    .textContainer p {
        font-size: var(--size-2);
        width: 80%;
    }

    .image {
        top: 80px;
        right: 0;
        width: 200px;
        height: 200px;
    }
}

@media screen and  (max-width: 320px) {
    .container {
        height: 180px;
    }

    .textContainer {
        padding: .2rem;
        width: 80%;
    }

    .textContainer h1 {
        font-size: var(--size-6);
    }

    .textContainer h3 {
        font-size: var(--size-4);
        width: 60%;
    }

    .textContainer p {
        font-size: var(--size-2);
        width: 80%;
    }

    .image {
        top: 80px;
        right: 0;
        width: 180px;
        height: 180px;
    }
}