.container {
    overflow: hidden;
    width: 100%;
}

.content {
    display: flex; /* Display items in a row */
    gap: 50px; /* Adjust the gap between items */
    white-space: nowrap;
    animation: scroll 25s linear infinite; /* Adjust duration to make it slower */
}

.context {
    display: flex; /* Ensure the icon and text are aligned */
    align-items: center; /* Center items vertically */
    font-size: var(--text-scrolling-banner);
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-25%);
    }
}

@media screen and  (max-width: 768px) {
    .context {
        font-size: var(--text-scrolling-banner-tab);
    }

    @keyframes scroll {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(-50%);
        }
    }
}

@media screen and  (max-width: 425px) {
    .context {
        font-size: var(--text-scrolling-banner-mobi);
    }

    @keyframes scroll {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(-75%);
        }
    }
}