.grid {
    margin: 0 50px;
    padding: 50px;
    align-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media screen and  (max-width: 768px) {
    .grid {
        margin: 0 25px;
        padding: 25px;
    }
}

@media screen and  (max-width: 425px) {
    .grid {
        margin: 0 12.5px;
        padding: 12.5px;
    }
}
