@import "../../sass/_colors.scss";
@import "../../sass/_fonts.scss";
@import "../../sass/_mixins.scss";
@import "../../sass/_spacing.scss";
@import "../../sass/_text.scss";

.pb130, .py130 {
  padding-bottom: 8.125rem;
}

.pt220, .py220 {
  padding-top: 6.875rem;
}

.rel {
  position: relative;
}

.container  {
  width: 100%;
  padding-right: .75rem;
  padding-left: .75rem;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc($gutter-y * -1);
}

.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc($gutter-x-gap100 * .5);
  padding-left: calc($gutter-x-gap100* .5);
  margin-top: $gutter-y;
}

.colLg6 {
  flex: 0 0 auto;
  width: 50%;
}

.delay02s {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

.teamProfileImage img {
  width: 100%;
  max-width: 100%;
  display: inline-block;
  max-height: 100%;
  height: 100%;
}

.teamProfileImage img {
  vertical-align: middle;
}

.teamProfileContent h2 {
  font-size: 4.063rem;
  margin-bottom: 1.25rem;
}

.teamProfileContent .designation {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 3.125rem;
}

.teamProfileContent p {
  font-size: 1.125rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.mb30, .my30 {
  margin-bottom: 1.875rem;
}

.mt55, .my55 {
  margin-top: 3.438rem;
}

.teamSubTitle h4 {
  line-height: 1.4;
  font-size: 1.5rem;
}

.contactInfoItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contactInfoItem:not(:last-child) {
  margin-bottom: 2.188rem;
}

.contactInfoItem .icon {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  font-size: 1.25rem;
  color: $grey-50;
  margin-right: 1.563rem;
  width: 3.75rem;
  height: 3.75rem;
  background: $primary;
  line-height: 3.75rem;
  border-radius: 50%;
  text-align: center;
}

.icon svg {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.contactInfoItem .content .title {
  color: white;
  display: block;
}

.contactInfoItem .content b {
  font-weight: bolder;
}

.text, .text a {
  color: $grey-400;
}

.text:hover a {
  color: $primary;
}

@include tablet {
  .pt220, .py220 {
    padding-top: 6.875rem;
  }

  .teamProfileContent h2 {
    font-size: 2.5rem;
  }

  .colLg6 {
    flex: 0 0 auto;
    width: 100%;
  }
}

@include mobileLarge {
  .pt220, .py220 {
    padding-top: 3.75rem;
  }

  .teamProfileContent h2 {
    font-size: 2.188rem;
  }

  .colLg6 {
    flex: 0 0 auto;
    width: 100%;
  }
}

@include mobile {
  .pt220, .py220 {
    padding-top: 3.75rem;
  }

  .teamProfileContent h2 {
    font-size: 1.875rem;
  }

  .colLg6 {
    flex: 0 0 auto;
    width: 100%;
  }
}

@include mobileSmall {
  .pt220, .py220 {
    padding-top: 3.75rem;
  }
  .teamProfileContent h2 {
    font-size: 1.875rem;
  }

  .colLg6 {
    flex: 0 0 auto;
    width: 100%;
  }
}