.projects {
    width: 100%;
    margin: var(--size-8) var(--size-4);
}

.projects h1 {
    font-size: var(--text-sub-header);
    text-align: center;
    margin: 0;
}

.projects h3 {
    margin: 0;
    font-size: var(--text-blue-sub-header);
    color: var(--color-secondary-1);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    width: 100%;
}

@media screen and  (max-width: 768px) {
    .projects {
        margin: var(--size-4) var(--size-2);
    }

    .projects h1 {
        font-size: var(--text-sub-header-tab);
    }

    .projects h3 {
        font-size: var(--text-blue-sub-header-tab);
    }

    .content {
        margin-bottom: 7.5px;
    }
}

@media screen and  (max-width: 425px) {
    .projects {
        margin: var(--size-2) var(--size-1);
    }

    .projects h1 {
        font-size: var(--text-sub-header-mobi);
    }

    .projects h3 {
        font-size: var(--text-blue-sub-header-mobi);
    }

    .content {
        margin-bottom: 3.75px;
    }
}