@import "../../sass/_colors.scss";
@import "../../sass/_fonts.scss";
@import "../../sass/_mixins.scss";
@import "../../sass/_spacing.scss";
@import "../../sass/_text.scss";

.tech {
    width: 100%;
    margin: map-get($spacing-sizes, '8') 0;
}

.tech h1 {
    font-size: $sub-header-laptop-1440;
    text-align: center;
    margin: 0 0 2rem 0;
}

.tech h3 {
    margin: 6rem 0 0 0;
    font-size: $blue-sub-header-laptop-1440;
    color: $primary;
    font-weight: map-get($font-weights, 'bold');
    letter-spacing: map-get($line-heights, '1.5')
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.938rem;
}

@include desktop {
    .tech h1 {
        font-size: $sub-header-laptop-1024;
    }

    .tech h3 {
        font-size: $blue-sub-header-laptop-1024;
    }
}

@include tabletLandScape {
    .tech h1 {
        font-size: $sub-header-tab-768;
    }

    .tech h3 {
        font-size: $blue-sub-header-tab-768;
    }
}

@include tablet {
    .tech h1 {
        font-size: $sub-header-tab-768;
    }

    .tech h3 {
        font-size: $blue-sub-header-tab-768;
    }
}

@include mobileLarge {
    .tech h1 {
        font-size: $sub-header-mobi-425;
    }

    .tech h3 {
        font-size: $blue-sub-header-mobi-425;
    }
}

@include mobile {
    .tech h1 {
        font-size: $sub-header-mobi-375;
    }

    .tech h3 {
        font-size: $blue-sub-header-mobi-375;
    }
}

@include mobileSmall {
    .tech h1 {
        font-size: $sub-header-mobi-320;
    }

    .tech h3 {
        font-size: $blue-sub-header-mobi-320;
    }
}
