@import "../../sass/_colors.scss";
@import "../../sass/_fonts.scss";
@import "../../sass/_mixins.scss";
@import "../../sass/_spacing.scss";
@import "../../sass/_text.scss";

.pill {
    padding: 1.063rem 2.5rem;
    border-radius: 2.5rem;
    background-color: $grey-50;
    margin-bottom: 2.188rem;
    margin-left: 0.938rem;
    margin-right: 0.938rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    -webkit-box-shadow: 0 0.313rem 0 0 $primary;
    box-shadow: 0 0.313rem 0 0 $primary;
}

.icon {
    max-width: 100%;
    max-height: 100%;
}

.icon img {
    display: inline-block;
    object-fit: cover;
    vertical-align: middle;
    max-width: 100%;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.content h2 {
    margin-left: 1rem;
    font-size: map-get($font-sizes, '6');
    color: $black-25;
}

@include mobileLarge {
    .pill {
        padding: 0.5rem 0.938rem;
        margin-left: 0.313rem;
        margin-right: 0.313rem;
        margin-bottom: 1.25rem;
    }

    .icon {
        max-width: 1.25rem;
        max-height: 1.25rem;
    }

    .icon img {
        max-width: 1.25rem;
        max-height: 1.25rem;
    }

    .content h2 {
        margin-left: 0.5rem;
        font-size: map-get($font-sizes, '4');
    }
}

@include mobile {
    .pill {
        padding: 0.5rem 0.938rem;
        margin-left: 0.313rem;
        margin-right: 0.313rem;
        margin-bottom: 1.25rem;
    }

    .icon {
        max-width: 1.25rem;
        max-height: 1.25rem;
    }

    .icon img {
        max-width: 1.25rem;
        max-height: 1.25rem;
    }

    .content h2 {
        margin-left: 0.5rem;
        font-size: map-get($font-sizes, '4');
    }
}

@include mobileSmall {
    .pill {
        padding: 0.5rem 0.938rem;
        margin-left: 0.313rem;
        margin-right: 0.313rem;
        margin-bottom: 1.25rem;
    }

    .icon {
        max-width: 1.25rem;
        max-height: 1.25rem;
    }

    .icon img {
        max-width: 1.25rem;
        max-height: 1.25rem;
    }

    .content h2 {
        margin-left: 0.5rem;
        font-size: map-get($font-sizes, '4');
    }
}
