.main {
    display: flex;
    height: 100%;
    width: 100%;
    min-height: 100vh;
}

.sideBar {
    width: 15%;
    background-color: var(--color-grey-800);
    border-right: 3px solid var(--color-secondary-1);
    padding: 15px 30px;
}

.child {
    padding: 25px 60px;
    width: 85%;
}

@media screen and  (max-width: 768px) {
    .sideBar {
        width: 20%;
        padding: 7.5px 15px;
    }

    .child {
        padding: 12.5px 30px;
        width: 80%;
    }
}

@media screen and  (max-width: 425px) {
    .sideBar {
        width: max-content;
        padding: 3.75px 7.5px;
    }

    .child {
        width: 100%;
    }
}