.blogs {
    width: 90%;
    max-width: 94rem;
    margin: var(--size-8) auto;
}

.blogs h1 {
    font-size: var(--text-sub-header);
    text-align: center;
    margin: 0;
}

.blogs h3 {
    margin: 0;
    font-size: var(--text-blue-sub-header);
    color: var(--color-secondary-1);
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

@media (min-width: 768px) {
    .blogs h1 {
        font-size: var(--size-16);
    }
}
