.blogs {
    width: 90%;
    max-width: 94rem;
    margin: var(--size-8) auto;
}

.blogs h1 {
    font-size: var(--text-sub-header);
    text-align: center;
    margin: 0;
}

.blogs h3 {
    margin: 0;
    font-size: var(--text-blue-sub-header);
    color: var(--color-secondary-1);
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

@media screen and  (max-width: 768px) {
    .blogs {
        max-width: 47rem;
        margin: var(--size-4) auto;
    }

    .blogs h1 {
        font-size: var(--text-sub-header-tab);
    }

    .blogs h3 {
        font-size: var(--text-blue-sub-header-tab);
    }

    .text {
        margin-bottom: 7.5px;
    }
}

@media screen and  (max-width: 425px) {
    .blogs {
        max-width: 23.5rem;
        margin: var(--size-2) auto;
    }

    .blogs h1 {
        font-size: var(--text-sub-header-mobi);
    }

    .blogs h3 {
        font-size: var(--text-blue-sub-header-mobi);
    }

    .text {
        margin-bottom: 3.75px;
    }
}