.serviceItem {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    background-color: var(--color-grey-800);
    text-align: center;
}

.serviceItem:hover {
    transform: scale(1.15);
}

.serviceItem a {
    color: var(--color-grey-100);
}

.image {
    width: 100%;
    overflow: visible;
}

.image img {
    object-fit: contain;
    height: 250px !important;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--size-4);
}
.content:hover {
    color: var(--color-secondary-1);
}

.linkItem {
    padding: 0 20px;
}

.blogAuthor {
    display: flex;
    margin: 10px 15px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    font-size: var(--size-4)
}

.iconDot {
    margin: 0 8px;
}

.btn {

}

@keyframes pulse {
    0% {
        color: var(--color-grey-50);
    }
    50% {
        color: var(--color-secondary-1);
    }
    100% {
        color: var(--color-grey-50);
    }
}

.btn {
    text-align: left;
    margin: 20px;
}

.btn a {
    font-size: var(--size-8);
    color: var(--color-secondary-1);
}
.btn:hover a {
    animation: pulse 1s infinite;
}

.comments:hover {
    color: var(--color-secondary-1);
}
