.container {
    max-width: 50%;
    margin: 0 auto;
    padding: 20px;
}

.container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.container form {
    display: flex;
    flex-direction: column;
}

.container label {
    margin-bottom: 8px;
}

.container input[type="text"],
.container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.actions {
    padding: 1rem;
    text-align: right;
}

.images {
    display: flex;
    justify-content: space-around;
}

.error {
    margin-top: 0;
    margin-bottom: 15px;
    color: var(--color-error-500);
    font-size: var(--size-4);
}