.container {
    max-width: 50%;
    margin: 0 auto;
    padding: 20px;
}

.container form {
    display: flex;
    flex-direction: column;
}

.container label {
    margin-bottom: 8px;
}

.container input[type="text"] {
    width: 65%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.actions {
    padding: 1rem;
    text-align: right;
}

.error {
    margin-top: 0;
    margin-bottom: 15px;
    color: var(--color-error-500);
    font-size: var(--size-4);
}

.content {
    display: flex;
}

.plus {
    width: 50px;
    color: var(--color-secondary-1);
    cursor: pointer;
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 50%;
}

.plus:hover {
    background-color: var(--color-grey-800);
}

.trash {
    width: 50px;
    color: var(--color-error-500);
    cursor: pointer;
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 50%;
}

.trash:hover {
    background-color: var(--color-secondary-1);
}