.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    width: 100%;
}

.title {
    text-decoration: none;
    color: var(--color-grey-50);
    font-size: var(--size-8);
}

.title:hover {
    transform: scale(1.05);
    color: var(--color-secondary-1);
}

.btn {
    text-decoration: none;
    color: var(--color-grey-300);
    font-size: var(--size-6);
}

.btn:hover {
    transform: scale(1.08);
    color: var(--color-secondary-1);
}

.image {
    overflow: hidden;
    max-width: 300px;
    max-height: 300px;
}

.image img {
    object-fit: cover;
}

.contentNext {
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.contentPrevious {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.btnRight {
    display: flex;
    justify-content: right;
}

.btnLeft {
    display: flex;
    justify-content: left;
}

@media screen and  (max-width: 768px) {
    .container {
        margin: 10px;
    }

    .title {
        font-size: var(--size-4);
    }

    .btn {
        font-size: var(--size-3);
    }

    .contentNext {
        margin-right: 7.5px;
    }

    .contentPrevious {
        margin-left: 7.5px;
    }

    .image {
        max-width: 150px;
        max-height: 150px;
    }

    .image img {
        object-fit: cover;
    }

}

@media screen and  (max-width: 425px) {
    .container {
        flex-direction: column;
    }

    .btnRight {
        margin-top: 15px;
    }

    .btnLeft {
        margin-bottom: 15px;
    }
}