.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: var(--size-20);
    background-color: var(--color-grey-900);
    position: fixed;
    bottom: 0;
    z-index: 999;
}

.logo {
    color: var(--color-grey-50);
    font-family: 'Fira', sans-serif;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo a {
    text-decoration: none;
    color: var(--color-grey-50);
}

.navigation a {
    font-size: var(--size-4);
    text-decoration: none;
    color: var(--color-grey-50);
}

.linkItem {
    padding: 0 40px;
}

.navigationContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation p {
    font-size: var(--size-4);
}

.logo svg {
    width: 30px;
    height: 30px;
}

.navigation svg {
    width: 20px;
    height: 20px;
}

@media screen and  (max-width: 768px) {
    .footer {
        padding: .5rem;
        height: var(--size-10);
    }


    .navigation a {
        font-size: var(--size-2);
    }

    .linkItem {
        padding: 0 20px;
    }

    .navigation p {
        font-size: var(--size-2);
    }

    .logo svg {
        width: 15px;
        height: 15px;
    }

    .navigation svg {
        width: 10px;
        height: 10px;
    }
}