@import "../../sass/_colors.scss";
@import "../../sass/_fonts.scss";
@import "../../sass/_mixins.scss";
@import "../../sass/_spacing.scss";
@import "../../sass/_text.scss";

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: map-get($height-sizes, '20');
    background-color: $grey-900;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.logo {
    color: $grey-50;
    font-family: 'Fira', sans-serif;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo a {
    text-decoration: none;
    color: $grey-50;
}

.navigation a {
    font-size: map-get($font-sizes, '4');
    text-decoration: none;
    color: $grey-50;
}

.linkItem {
    padding: 0 2.5rem;
}

.navigationContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigationCopy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigationCopy p {
    font-size: map-get($font-sizes, '4');
    margin: 0;
    padding: 0;
}

.logo svg {
    width: 1.875rem;
    height: 1.875rem;
}

.navigation svg {
    width: 1.25rem;
    height: 1.25rem;
}

@include tablet {
    .footer {
        padding: .5rem;
        height: map-get($height-sizes, '10');
    }


    .navigation a {
        font-size: map-get($font-sizes, '2');
    }

    .linkItem {
        padding: 0 1.25rem;
    }

    .navigation p {
        font-size: map-get($font-sizes, '2');
    }

    .logo svg {
        width: 0.938rem;
        height: 0.938rem;
    }

    .navigation svg {
        width: 0.625rem;
        height: 0.625rem;
    }
}

@include mobileLarge {
    .footer {
        flex-direction: column;
        padding: .5rem;
        height: map-get($height-sizes, '10');
    }

    .navigation a {
        font-size: map-get($font-sizes, '2');
    }

    .linkItem {
        padding: 0 1.25rem;
    }

    .navigationCopy {
        flex-direction: row;
    }

    .navigationCopy p {
        font-size: map-get($font-sizes, '2');
        margin: 0 1rem;
        padding: 0;
    }

    .logo svg {
        width: 0.938rem;
        height: 0.938rem;
    }

    .navigation svg {
        width: 0.625rem;
        height: 0.625rem;
    }
}

@include mobile {
    .footer {
        flex-direction: column;
        padding: .5rem;
        height: map-get($height-sizes, '10');
    }


    .navigation a {
        font-size: map-get($font-sizes, '2');
    }

    .linkItem {
        padding: 0 1.25rem;
    }

    .navigationCopy {
        flex-direction: row;
    }

    .navigationCopy p {
        font-size: map-get($font-sizes, '2');
        margin: 0 1rem;
        padding: 0;
    }

    .logo svg {
        width: 0.938rem;
        height: 0.938rem;
    }

    .navigation svg {
        width: 0.625rem;
        height: 0.625rem;
    }
}

@include mobileSmall {
    .footer {
        flex-direction: column;
        padding: .5rem;
        height: map-get($height-sizes, '10');
    }


    .navigation a {
        font-size: map-get($font-sizes, '2');
    }

    .linkItem {
        padding: 0 1.25rem;
    }

    .navigationCopy {
        flex-direction: row;
    }

    .navigationCopy p {
        font-size: map-get($font-sizes, '2');
        margin: 0 1rem;
        padding: 0;
    }

    .logo svg {
        width: 0.938rem;
        height: 0.938rem;
    }

    .navigation svg {
        width: 0.625rem;
        height: 0.625rem;
    }
}