.container {
    width: 100%;
}

.container ul {
    list-style: none; /* Remove default list styles */
    padding: 0; /* Remove default padding */
}

.container li {
    padding: 8px;
    margin-bottom: 10px; /* Add margin between list items */
}

.negativeImage {
    filter: invert(100%);
}

.link {
    text-decoration: none; /* Removes underline */
    color: inherit; /* Inherits color from parent */
    cursor: pointer; /* Removes pointer cursor */
    font-size: var(--size-6);
}

.icon {
    color: var(--color-secondary-1);
}