.container {
    width: 100%;
}

.container ul {
    list-style: none; /* Remove default list styles */
    padding: 0; /* Remove default padding */
}

.container li {
    padding: 8px;
    margin-bottom: 10px; /* Add margin between list items */
}

.negativeImage {
    filter: invert(100%);
}

.link {
    text-decoration: none; /* Removes underline */
    color: inherit; /* Inherits color from parent */
    cursor: pointer; /* Removes pointer cursor */
    font-size: var(--size-6);
}

.icon {
    color: var(--color-secondary-1);
    width: 20.8px;
    height: 20.8px;
}
.navigation {
    display: block;
}

.menu {
    display: none;
}

.containerBtn {
    display: flex;
    flex-direction: column;
}

.iconMenu {
    color: var(--color-secondary-1);
    width: 30px;
    height: 30px;
}

@media screen and  (max-width: 768px) {
    .container li {
        padding: 4px;
        margin-bottom: 5px; /* Add margin between list items */
    }

    .link {
        font-size: var(--size-4);
    }

    .icon {
        width: 10.4px;
        height: 10.4px;
    }
}

@media screen and  (max-width: 425px) {
    .navigation {
        display: none;
    }
    .menu {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;
    }
    .container li {
        width: 100px;
    }

    .container button {
        background-color: transparent;
        border: 0 solid transparent;
    }

    .containerBtn {
        display: flex;
        flex-direction: column;
    }
}