@import "../../sass/_colors.scss";
@import "../../sass/_fonts.scss";
@import "../../sass/_mixins.scss";
@import "../../sass/_spacing.scss";
@import "../../sass/_text.scss";

.auth {
  margin: 3rem auto;
  width: 95%;
  max-width: 25rem;
  border-radius: 0.375rem;
  background-color: $primary;
  box-shadow: 0 0.063rem 0.25rem rgba(0, 0, 0, 0.2);
  padding: 1rem;
  text-align: center;
}

.auth h1 {
  text-align: center;
  color: white;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  display: block;
  color: white;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input {
  font: inherit;
  background-color: #f1e1fc;
  color: $black-0;
  border-radius: 0.25rem;
  border: 0.063rem solid white;
  width: 100%;
  text-align: left;
  padding: 0.25rem;
}

.actions {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions button {
  cursor: pointer;
  font: inherit;
  color: white;
  background-color: $blue-205;
  border: 0.063rem solid $blue-205;
  border-radius: 0.25rem;
  padding: 0.5rem 2.5rem;
}

.actions button:hover {
  background-color: $primary;
  border-color: $primary;
}

.actions .toggle {
  margin-top: 1rem;
  background-color: transparent;
  color: $blue-175;
  border: none;
  padding: 0.15rem 1.5rem;
}

.actions .toggle:hover {
  background-color: transparent;
  color: $blue-175;
}