.services {
    width: 100%;
    margin: var(--size-8) var(--size-4);
}

.services h1 {
    font-size: var(--text-sub-header);
    text-align: center;
    margin: 0 0 2rem 0;
}

.services h3 {
    margin: 0;
    font-size: var(--text-blue-sub-header);
    color: var(--color-secondary-1);
    font-weight: var(--font-weight-bold);
    letter-spacing: 1.5px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

@media screen and  (max-width: 768px) {
    .services {
        max-width: 30rem;
        margin: var(--size-4) auto;
    }

    .services h1 {
        font-size: var(--text-sub-header-tab);
    }

    .services h3 {
        font-size: var(--text-blue-sub-header-tab);
    }
}

@media screen and  (max-width: 425px) {
    .services {
        max-width: 15rem;
        margin: var(--size-2) auto;
    }

    .services h1 {
        font-size: var(--text-sub-header-mobi);
    }

    .services h3 {
        font-size: var(--text-blue-sub-header-mobi);
    }
}
