@import "../../sass/_colors.scss";
@import "../../sass/_fonts.scss";
@import "../../sass/_mixins.scss";
@import "../../sass/_spacing.scss";
@import "../../sass/_text.scss";

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3rem;
}

.title {
    width: 100%;
}

.title h2 {
    margin: map-get($spacing-sizes, '16') 0 0 map-get($spacing-sizes, '32');
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: map-get($spacing-sizes, '4');
    font-size: $sub-header-laptop-1440;
}

.iconTitle {
    color: $primary;
    width: 3.75rem;
    height: 3.75rem;
}

.image {
    flex: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-left: map-get($spacing-sizes, '16');
    margin-right: map-get($spacing-sizes, '16');
}

.image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.summary {
    flex: 1;
    font-size: $paragraph-laptop-1440;
    margin-left: map-get($spacing-sizes, '16');
    margin-right: map-get($spacing-sizes, '16');
}

.content {
    margin: map-get($spacing-sizes, '16') 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: map-get($spacing-sizes, '4');
}

.content p {
    width: 100%;
    margin: 0;
    font-size: $paragraph-laptop-1440;
}

@include desktop {
    .title h2 {
        margin: map-get($spacing-sizes, '16') 0 0 map-get($spacing-sizes, '5');
        font-size: $sub-header-laptop-1024;
    }

    .iconTitle {
        width: 1.875rem;
        height: 1.875rem;
    }

    .summary {
        font-size: $paragraph-laptop-1024;
        margin: 0 map-get($spacing-sizes, '4') map-get($spacing-sizes, '8') map-get($spacing-sizes, '4');
    }

    .content p {
        font-size: $paragraph-laptop-1024;
    }
}

@include tabletLandScape {
    .title h2 {
        margin: map-get($spacing-sizes, '16') 0 0 map-get($spacing-sizes, '5');
        font-size: $sub-header-tab-768;
    }

    .iconTitle {
        width: 1.875rem;
        height: 1.875rem;
    }

    .summary {
        font-size: $paragraph-tab-768;
        margin: map-get($spacing-sizes, '8') map-get($spacing-sizes, '4');
    }

    .content {
        flex-direction: column;
        align-items: center;
        padding: map-get($spacing-sizes, '4');
    }
    .content p {
        font-size: $paragraph-tab-768;
    }
}

@include tablet {
    .title h2 {
        margin: map-get($spacing-sizes, '16') 0 0 map-get($spacing-sizes, '5');
        font-size: $sub-header-tab-768;
    }

    .iconTitle {
        width: 1.875rem;
        height: 1.875rem;
    }

    .summary {
        font-size: $paragraph-tab-768;
        margin: map-get($spacing-sizes, '8') map-get($spacing-sizes, '4');
    }

    .content {
        align-items: center;
        padding: map-get($spacing-sizes, '4');
    }
    .content p {
        font-size: $paragraph-tab-768;
    }
    .content {
        flex-direction: column;
    }
}

@include mobileLarge {
    .title h2 {
        display: block;
        margin-left: 0.469rem;
        padding: map-get($spacing-sizes, '1');
        font-size: $sub-header-mobi-425;
    }

    .iconTitle {
        width: 0.938rem;
        height: 0.938rem;
    }

    .image {
        margin-left: map-get($spacing-sizes, '1');
        margin-right: map-get($spacing-sizes, '1');
    }

    .summary {
        font-size: $paragraph-mobi-425;
        margin: map-get($spacing-sizes, '4') map-get($spacing-sizes, '1');
    }

    .content {
        flex-direction: column;
        padding: map-get($spacing-sizes, '2');
    }

    .content p {
        font-size: map-get($font-sizes, '3');
    }
}

@include mobile {
    .title h2 {
        display: block;
        margin-left: 0.469rem;
        padding: map-get($spacing-sizes, '1');
        font-size: $sub-header-mobi-375;
    }

    .iconTitle {
        width: 0.938rem;
        height: 0.938rem;
    }

    .image {
        margin-left: map-get($spacing-sizes, '1');
        margin-right: map-get($spacing-sizes, '1');
    }

    .summary {
        font-size: $paragraph-mobi-375;
        margin: map-get($spacing-sizes, '4') map-get($spacing-sizes, '1');
    }

    .content {
        flex-direction: column;
        padding: map-get($spacing-sizes, '2');
    }

    .content p {
        font-size: map-get($font-sizes, '3');
    }
}

@include mobileSmall {
    .title h2 {
        display: block;
        margin-left: 0.469rem;
        padding: map-get($spacing-sizes, '1');
        font-size: $sub-header-mobi-320;
    }

    .iconTitle {
        width: 0.938rem;
        height: 0.938rem;
    }

    .image {
        margin-left: map-get($spacing-sizes, '1');
        margin-right: map-get($spacing-sizes, '1');
    }

    .summary {
        font-size: $paragraph-mobi-320;
        margin: map-get($spacing-sizes, '4') map-get($spacing-sizes, '1');
    }

    .content {
        flex-direction: column;
        padding: map-get($spacing-sizes, '2');
    }

    .content p {
        font-size: map-get($font-sizes, '3');
    }
}