.serviceItem {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    background-color: var(--color-grey-800);
    text-align: center;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.serviceItem:hover {
    transform: scale(1.15);
    background-color: var(--color-secondary-1);
}

.serviceItem a {
    color: var(--color-grey-100);
}

.image {
    width: 96%;
    overflow: hidden;
}

.image img {
    object-fit: cover;
    margin: 10px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
    width: 6rem;
    max-height: 6rem;
    overflow: hidden;
    color: white !important;
    -webkit-filter: invert(1);
    filter: invert(1);
}

.icon img {
    object-fit: cover;
    color: white !important;
    -webkit-filter:invert(100%);
    filter:progid:DXImageTransform.Microsoft.BasicImage(invert='1');
}

.content {
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    padding: var(--size-4);
}

.content h2 {
    margin: 0;
    font-size: var(--size-6);
    height: 66px;
}

.content time {
    font-style: italic;
    color: var(--color-grey-300);
}

.content p {
    line-height: var(--size-6);
}

/*@media screen and  (max-width: 768px) {*/
/*    .image {*/
/*        max-height: 5rem;*/
/*    }*/

/*    .icon {*/
/*        margin: 5px;*/
/*        width: 1.5rem;*/
/*        max-height: 1.5rem;*/
/*    }*/

/*    .content {*/
/*        margin: 22.5px 0 0 0;*/
/*        padding: var(--size-2);*/
/*    }*/

/*    .content h2 {*/
/*        font-size: var(--size-3);*/
/*    }*/

/*    .content p {*/
/*        line-height: var(--size-3);*/
/*    }*/
/*}*/

/*@media screen and  (max-width: 425px) {*/
/*    .image {*/
/*        max-height: 5rem;*/
/*    }*/

/*    .icon {*/
/*        margin: 5px;*/
/*        width: 1.5rem;*/
/*        max-height: 1.5rem;*/
/*    }*/

/*    .content {*/
/*        margin: 22.5px 0 0 0;*/
/*        padding: var(--size-2);*/
/*    }*/

/*    .content h2 {*/
/*        font-size: var(--size-3);*/
/*    }*/

/*    .content p {*/
/*        line-height: var(--size-3);*/
/*    }*/
/*}*/
