@import "../../sass/_colors.scss";
@import "../../sass/_fonts.scss";
@import "../../sass/_mixins.scss";
@import "../../sass/_spacing.scss";
@import "../../sass/_text.scss";

.projects {
    width: 100%;
    margin: map-get($spacing-sizes, '8') map-get($spacing-sizes, '4');
}

.projects h1 {
    font-size: $sub-header-laptop-1440;
    text-align: center;
    margin: 0 0 2rem 0;
}

.projects h3 {
    margin: 0;
    font-size: $blue-sub-header-laptop-1440;
    color: $primary;
    font-weight: map-get($font-weights, 'bold');
    letter-spacing: map-get($line-heights, '1.5');
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 0.938rem;
    width: 100%;
}

@include tablet {
    .projects {
        margin: map-get($spacing-sizes, '6') map-get($spacing-sizes, '2');
    }

    .projects h1 {
        font-size: $sub-header-tab-768;
    }

    .projects h3 {
        font-size: $blue-sub-header-tab-768;
    }

    .content {
        margin-bottom: 0.625rem;
    }
}

@include mobileLarge {
    .projects {
        margin: map-get($spacing-sizes, '4') map-get($spacing-sizes, '1');
    }

    .projects h1 {
        font-size: $sub-header-mobi-425;
    }

    .projects h3 {
        font-size: $blue-sub-header-mobi-425;
    }

    .content {
        margin-bottom: 0.313rem;
    }
}
