@import "../../sass/_colors.scss";
@import "../../sass/_fonts.scss";
@import "../../sass/_mixins.scss";
@import "../../sass/_spacing.scss";
@import "../../sass/_text.scss";

.projectTimeline {
    padding: 0 0 3.75rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 3.75rem 0;
    flex-direction: row;
    border-bottom: 0.063rem solid $grey-300;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.projectTimeline .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    max-width: 100%;
    padding-left: 0.938rem;
    padding-right: 0.938rem;
    width: 100%;
}

.projectTimeline:hover {
    border-color: $primary;
}

.projectTimeline .content {
    max-width: 21.875rem;
    margin-right: 1.25rem;
}

.projectTimeline .content .serialNumber {
    color: white;
    font-weight: map-get($spacing-sizes, 'light');
    font-size: map-get($font-sizes, '12');
    margin-bottom: 2.813rem;
    display: block;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.projectTimeline:hover .content .serialNumber, .projectTimeline:hover .content h4 a {
    color: $primary;

}

.projectTimeline:hover .content h4 a {
    text-decoration: underline;
    outline: none;
}

.projectTimeline .content h4 a {
    line-height: 1.4;
    font-size: map-get($font-sizes, '6');
    margin: 0 0 .5rem 0;
    color: white;
    font-weight: 600;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: 0.3s;
    text-decoration: none;
    display: block;
}

.projectTimeline .image  {
    margin-left: auto;
    margin-right: auto;
}

.image {
    max-height: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    display: inline-block;
}

.image img {
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}

.rightBtn {
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;

}

.detailsBtn {
    border: 2px solid rgba(255, 255, 255, 0.3);
    width: 6.25rem;
    height: 6.25rem;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    font-size: 1.5rem;
    text-align: center;
    line-height: 6.25rem;
    border-radius: 50%;
    display: inline-block;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}



.projectTimeline:hover,
.projectTimeline:focus,
.projectTimeline:visited a {
    text-decoration: none;
    outline: none;
}

.projectTimeline:hover a{
    color: white;
}

.projectTimeline:hover a {
    color: $primary;
}

.detailsBtn:hover {
    color: white;
    background: $primary;
    border-color: $primary;
}

.projectTimeline:hover .rightBtn .detailsBtn {
    background: $primary;
    color: white;
}

.icon svg {
    color: white;
    width: 5rem !important;
    height: 5rem !important;
}

@include desktop {
    .projectTimeline {
        padding: 0 0 3.75rem 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 0 0 3.75rem 0;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
    }
    .projectTimeline .content {
        max-width: 21.875rem;
        margin-right: 1.25rem;
    }
    .projectTimeline .serialNumber {
        font-size: map-get($font-sizes, '12');
        margin-bottom: 2.813rem;
    }
    .projectTimeline .content h4 a {
        line-height: 1.4;
        font-size: map-get($font-sizes, '6');
        margin: 0 0 .5rem 0;
        color: white;
        font-weight: 600;
        transition: 0.3s;
        text-decoration: none;
    }
}

@include tabletLandScape {
    .projectTimeline {
        padding: 0 0 3.75rem 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 0 0 3.75rem 0;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
    }
    .projectTimeline .content {
        max-width: 21.875rem;
        margin-right: 1.25rem;
    }
    .projectTimeline .serialNumber {
        font-size: map-get($font-sizes, '12');
        margin-bottom: 2.813rem;
    }
    .projectTimeline .content h4 a {
        line-height: 1.4;
        font-size: map-get($font-sizes, '6');
        margin: 0 0 .5rem 0;
        color: white;
        font-weight: 600;
        transition: 0.3s;
        text-decoration: none;
    }
    .rightBtn {
        visibility: hidden;
        display: none;
    }
}

@include tablet {
    .projectTimeline {
        padding: 0 0 3.75rem 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 0 0 3.75rem 0;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
    }
    .projectTimeline .content {
        max-width: 21.875rem;
        margin-right: 1.25rem;
    }
    .projectTimeline .serialNumber {
        font-size: map-get($font-sizes, '12');
        margin-bottom: 2.813rem;
    }
    .projectTimeline .content h4 a {
        line-height: 1.4;
        font-size: map-get($font-sizes, '6');
        margin: 0 0 .5rem 0;
        color: white;
        font-weight: 600;
        transition: 0.3s;
        text-decoration: none;
    }
    .rightBtn {
        visibility: hidden;
        display: none;
    }
}

@include mobileLarge {
    .projectTimeline {
        flex-direction: column;
        padding: 0 0 3.75rem 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 0 0 3.75rem 0;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
    }
    .projectTimeline .container {
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
        max-width: 100%;
        width: 100%;
    }
    .projectTimeline .content {
        margin-right: 0;
    }
    .rightBtn {
        visibility: hidden;
        display: none;
    }
    .projectTimeline .serialNumber {
        font-size: map-get($font-sizes, '12');
        margin-bottom: 2.813rem;
    }
    .projectTimeline .content h4 a {
        line-height: 1.4;
        font-size: map-get($font-sizes, '6');
        margin: 0 0 .5rem 0;
        color: white;
        font-weight: 600;
        transition: 0.3s;
        text-decoration: none;
    }
    .image {
        max-width: 100%;
        display: inline-block;
        object-fit: cover;
        max-height: 100%;
        margin: 30px 0 0 0;
    }
}

@include mobile {
    .projectTimeline {
        flex-direction: column;
        padding: 0 0 3.75rem 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 0 0 3.75rem 0;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
    }
    .projectTimeline .container {
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
        max-width: 100%;
        width: 100%;
    }
    .projectTimeline .content {
        margin-right: 0;
    }
    .rightBtn {
        visibility: hidden;
        display: none;
    }
    .projectTimeline .serialNumber {
        font-size: map-get($font-sizes, '12');
        margin-bottom: 2.813rem;
    }
    .projectTimeline .content h4 a {
        line-height: 1.4;
        font-size: map-get($font-sizes, '6');
        margin: 0 0 .5rem 0;
        color: white;
        font-weight: 600;
        transition: 0.3s;
        text-decoration: none;
    }
    .image {
        max-width: 100%;
        display: inline-block;
        object-fit: cover;
        max-height: 100%;
        margin: 30px 0 0 0;
    }
}

@include mobileSmall {
    .projectTimeline {
        flex-direction: column;
        padding: 0 0 3.75rem 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 0 0 3.75rem 0;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
    }
    .projectTimeline .container {
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
        max-width: 100%;
        width: 100%;
    }
    .projectTimeline .content {
        margin-right: 0;
    }
    .rightBtn {
        visibility: hidden;
        display: none;
    }
    .projectTimeline .serialNumber {
        font-size: map-get($font-sizes, '12');
        margin-bottom: 2.813rem;
    }
    .projectTimeline .content h4 a {
        line-height: 1.4;
        font-size: map-get($font-sizes, '6');
        margin: 0 0 .5rem 0;
        color: white;
        font-weight: 600;
        transition: 0.3s;
        text-decoration: none;
    }
    .image {
        max-width: 100%;
        display: inline-block;
        object-fit: cover;
        max-height: 100%;
        margin: 30px 0 0 0;
    }
}
