@import "../../sass/_colors.scss";
@import "../../sass/_fonts.scss";
@import "../../sass/_mixins.scss";
@import "../../sass/_spacing.scss";
@import "../../sass/_text.scss";

.projects {
    margin: map-get($spacing-sizes, '8') map-get($spacing-sizes, '4');
}

.projects h1 {
    font-size: $sub-header-laptop-1440;
    text-align: center;
    margin: 0;
}

.projects h3 {
    margin: 0;
    font-size: $blue-sub-header-laptop-1440;
    color: $primary;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 5rem;
}

.image {
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
}

.contentCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem auto;
}

.contentCenter h2 {
    margin: 0;
    font-size: map-get($font-sizes, '12');
}

.contentCenter h4 {
    margin: 0;
    font-size: map-get($font-sizes, '8');
}
.contentCenter p {
    font-size: map-get($font-sizes, '5');
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc($gutter-y * -1);
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.pb35, .py35 {
    padding-bottom: 2.188rem;
}

.delay02s {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.row>* {
    flex-shrink: 0;
    padding-right: calc($gutter-x * .5);
    padding-left: calc($gutter-x * .5);
    margin-top: $gutter-y;
}

.colLg4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}

.mb30, .my30 {
    margin-bottom: 1.875rem;
    padding-left: 3rem;
}

.colLg8 {
    flex: 0 0 auto;
    width: 66.66666667%;
}

.rowCols>* {
    flex: 0 0 auto;
    width: 25%
}

.col {
    flex: 1 0 0%;
}

.mb20, .my20 {
    margin-bottom: 1.25rem;
}

.mt2 {
    margin-top: -2rem;
}

.gridTwo {
    margin: 0 map-get($spacing-sizes, '12');
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gridTwo h2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

.line {
    display: block;
    width: 85%;
    margin: 0 auto;
    border-bottom: 0.063rem solid $grey-300;
}

.columnContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.url {
    color: white;
    font-size:  map-get($font-sizes, '5');
}

.url:hover {
    color: $primary;
}

@include tablet {
    .projects {
        margin: map-get($spacing-sizes, '6') map-get($spacing-sizes, '2');
    }

    .projects h1 {
        font-size: $sub-header-tab-768;
    }

    .projects h3 {
        font-size: $blue-sub-header-tab-768;
    }

    .content {
        margin-bottom: 3rem;
    }

    .image {
        max-height: 25rem;
    }

    .contentCenter {
        margin: 2.5rem auto;
    }

    .contentCenter h2 {
        font-size: map-get($font-sizes, '8');
    }

    .contentCenter h4 {
        font-size: map-get($font-sizes, '4');
    }
    .contentCenter p {
        font-size: map-get($font-sizes, '4');
    }

    .row {
        margin-right: 2.5rem;
        margin-left: 2.5rem;
    }

    .rowCols>* {
        flex: 0 0 auto;
        width: 50%
    }

    .colLg4 {
        flex: 0 0 auto;
        width: 100%;
    }

    .colLg8 {
        flex: 0 0 auto;
        width: 100%;
    }

    .display {
        display: none;
    }

    .gridTwo {
        width: 85%;
        grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
        gap: 1.5rem;
    }
}

@include mobileLarge {
    .projects h1 {
        font-size: $sub-header-mobi-425;
    }

    .projects h3 {
        font-size: $blue-sub-header-mobi-425;
    }

    .rowCols>* {
        flex: 0 0 auto;
        width: 100%
    }

    .colLg4 {
        flex: 0 0 auto;
        width: 100%;
    }

    .colLg8 {
        flex: 0 0 auto;
        width: 100%;
    }

    .display {
        display: none;
    }

    .contentCenter {
        margin: 1rem auto;
    }

    .contentCenter h2 {
        font-size: map-get($font-sizes, '8');
    }
    .gridTwo {
        margin: 0 map-get($spacing-sizes, '4');
    }
}

@include mobile {
    .projects h1 {
        font-size: $sub-header-mobi-375;
    }

    .projects h3 {
        font-size: $blue-sub-header-mobi-375;
    }

    .rowCols>* {
        flex: 0 0 auto;
        width: 100%
    }

    .colLg4 {
        flex: 0 0 auto;
        width: 100%;
    }

    .colLg8 {
        flex: 0 0 auto;
        width: 100%;
    }

    .display {
        display: none;
    }

    .contentCenter {
        margin: 1rem auto;
    }

    .contentCenter h2 {
        font-size: map-get($font-sizes, '8');
    }

    .gridTwo {
        margin: 0 map-get($spacing-sizes, '4');
    }
}

@include mobileSmall {
    .projects h1 {
        font-size: $sub-header-mobi-320;
    }

    .projects h3 {
        font-size: $blue-sub-header-mobi-320;
    }

    .rowCols>* {
        flex: 0 0 auto;
        width: 100%
    }

    .contentCenter {
        margin: 1rem auto;
    }

    .contentCenter h2 {
        font-size: map-get($font-sizes, '8');
    }

    .gridTwo {
        margin: 0 map-get($spacing-sizes, '4');
    }
}