.about {
    width: 100%;
    margin: var(--size-8) var(--size-4);
}

.content h1 {
    font-size: var(--text-sub-header);
    text-align: center;
    margin: 0 0 2rem 0;
}

.content h3 {
    margin: 0;
    font-size: var(--text-blue-sub-header);
    color: var(--color-secondary-1);
    font-weight: var(--font-weight-bold);
    letter-spacing: 1.5px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 15px;
    width: 100%;
}

.contact {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact h1 {
    font-size: var(--text-paragraph);
    text-align: center;
    margin: 0;
    width: 100%;
}

.contact h3 {
    margin: 0;
    font-size: var(--size-8);
    color: var(--color-grey-50);
    letter-spacing: 1.5px;
}

.contact p {
    text-align: center;
    width: 100%;
    margin: 28px 0;
    font-size: var(--text-paragraph-two);
    color: var(--color-grey-50);
}

.contact span {
    text-align: center;
    width: 82%;
    margin: 28px 0 10rem 0;
    font-size: var(--text-paragraph-two);
    color: var(--color-grey-50);
}

.line {
    margin: 22px 0;
    width: 96px;
    border-bottom: 5px solid var(--color-secondary-1);
}

@media screen and  (max-width: 768px) {

    .about h1 {
        font-size: var(--text-sub-header-tab);
    }

    .about h3 {
        font-size: var(--text-blue-sub-header-tab);
    }

    .contact h3 {
        font-size: var(--text-sub-header-tab);
    }

    .contact p {
        font-size: var(--text-sub-header-tab);
    }

    .contact span {
        margin: 21px 0;
        font-size: var(--text-sub-header-tab);
    }

    .content {
        width: 100%;
    }

    .contact {
        width: 100%;
    }

    .line {
        margin: 11px 0;
    }
}

@media screen and  (max-width: 425px) {

    .about h1 {
        font-size: var(--text-sub-header-mobi);
    }

    .about h3 {
        font-size: var(--text-blue-sub-header-mobi);
    }

    .contact h3 {
        font-size: var(--text-sub-header-mobi);
    }

    .contact p {
        font-size: var(--text-sub-header-mobi);
    }

    .contact span {
        margin: 21px 0;
        font-size: var(--text-sub-header-mobi);
    }

    .content {
        width: 100%;
    }

    .contact {
        width: 100%;
    }

    .line {
        margin: 6px 0;
    }
}